.login-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    border: 2px solid #c8c9c7;
    border-radius: 5px;
    width: 100%;
    max-width: 350px;
    padding: 15px;
}