.categories-container{
    display: flex;
    padding: 0 40px;
    width: 90%;
    justify-content: center;
}

.btn-container{
    display: flex;
    width: 90px;
    justify-content: space-between;
}

.dropdown {
    border-radius: 5px;
    width: 100%;
    max-width: 280px;
    margin-right: 1em;
}

.btn-action{
    background-color: transparent;
    border-style: none;
}